@model SurveyWebApp.Models.ResponseViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SurveyWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-brand" asp-area="" asp-controller="" asp-action="">SurveyWebApp</div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                       
                    </ul>
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" >
            @{ Layout = null; }
            @if (Model != null)
            {
                <form asp-action="MainSurvey" class="">
                    <div class="card gradient-custom mb-3">
                        <div class="card-body">
                            <h4>@Model?.Survey?.Title</h4>
                            <h6>@Model?.Survey?.Description</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="hidden" asp-for="Survey.Id" />
                            <div class="input-group" style="max-width:300px">
                                <div  class="input-group-prepend">
                                    <span  class="input-group-text" id="EmployeeId">Employee Id</span>
                                </div>
                                <input required id="validationCustomUsername" type="text" asp-for="EmployeeId" class="form-control" placeholder="Enter Employee Id" aria-label="Username">
                                <div class="invalid-feedback">
                                    Please Enter Employee Id.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            @await Html.PartialAsync("_DisplayQnA", Model)
                            <div class="form-group mt-3 mb-3 float-right">
                                <input type="submit" value="Submit" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </form>
            }
        </main>
    </div>



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - SurveyWebApp
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript">
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

</body>
</html>
