@model SurveyWebApp.Models.ResultViewModel
@{
    ViewData["Title"] = "Results";
}


<div class="row">

    <div class="col">
        <div class="input-group mb-2">
            <select onchange="LoadResults(this.options[this.selectedIndex].value)" class="custom-select" id="surveySelector" aria-label="Select survey to display results">
                <option selected>Please select a Survey...</option>
                @foreach (var survey in ViewBag.SurveysDropDown)
                {
                    <option value="@survey.Id">@survey.Title</option>
                }
            </select>
        </div>
        @if (Model != null)
        {
            <div class="card gradient-custom">
                <div class="card-body">
                    <h4>@Model?.Survey?.Title</h4>
                    <h6>@Model?.Survey?.Description</h6>
                </div>
            </div>
        }


        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="card mt-3 mb-3">
                <div class="card-body">
                    @ViewBag.Message
                </div>
            </div>
        }

        <div id="chartList">
        </div>

    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

         var model = @Json.Serialize(Model);
        console.log(model);

        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            for (var i = 0; i < model.responseChartData.length; i++) {

                $('#chartList').append('<div  class="card mt-3 mb-3"> \
                    <div class= "card-body" > \
                        <div id="chart_div'+i+'"></div> \
                    </div> \
                 </div>');

                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Choice');
                data.addColumn('number', 'Count');

                var rowsToAdd = [];
                for (var j = 0; j < model.responseChartData[i].chartRows.length; j++) {
                    rowsToAdd.push([model.responseChartData[i].chartRows[j].choiceText, model.responseChartData[i].chartRows[j].count]);
                }
                console.log("rowstoadd", rowsToAdd);

                data.addRows(rowsToAdd);

                //data.addRows([
                //    ['Mushrooms', 3],
                //    ['Onions', 1],
                //    ['Olives', 1],
                //    ['Zucchini', 1],
                //    ['Pepperoni', 2]
                //]);

                // Set chart options
                var options = {
                    'title': model.responseChartData[i].questionText,
                    'width': 800,
                    'height': 200,
                    'chartArea': { left: 1, top: 30, width: '100%', height: '75%' }
                };

                var chart = new google.visualization.PieChart(document.getElementById('chart_div' + i));
                chart.draw(data, options);

            }
        }
        function LoadResults(id) {
            //var surveyid = document.getElementById("surveySelector").value;
            window.location = '/Home/Results?surveyId=' + id;
        }
    </script>
}
